body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: #02182B;
}

.border{
    width: 200px;
    height: 100vh;
    background: #D7263D;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.20) inset;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mainTitle{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    backdrop-filter: blur(5px);
    margin: 0;
    animation: drop .6s cubic-bezier(.22, .9, .26, 1) both;
}

.mainSection{
    width: 450px;
    height: 550px;
    border-radius: 40px;
    background:#D7263D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: drop .6s cubic-bezier(.22, .9, .26, 1) both;
}


#loginForm{
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    width: 300px;
    height: 80px;
    border-radius: 40px;
    background: rgba(195, 197, 215, 0.80);
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.60);
    font-family: Alkatra;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
    animation: drop 1s cubic-bezier(.22, .9, .26, 1) both;
}

.input:focus{
    background: rgba(195, 197, 215, 0.60);
    box-shadow: 0 0 8px rgba(195, 197, 215, 0.80);
}

.input:-webkit-autofill{
    box-shadow: 0 0 8px rgba(195, 197, 215, 0.60)!important;
    transition: background-color 9999s ease-in-out 0s;
    font-family: Alkatra;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.removeSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgottenPasswordButton{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    border: none;
    cursor: pointer;
    animation: drop 1s cubic-bezier(.22, .9, .26, 1) both;
}

#forgottenPasswordButton:hover{
    text-decoration: underline;
}

#loginButton{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: #020315;
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    animation: drop 1s cubic-bezier(.22, .9, .26, 1) both;
}

#loginButton:hover{
    background:rgba(2, 3, 21, .6);
}

.signSection{
    width: 450px;
    height: 150px;
    border-radius: 40px;
    background: #D7263D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newUser{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    animation: drop 1s cubic-bezier(.22, .9, .26, 1) both;
}

.signUp{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: #020315;
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    animation: drop 1s cubic-bezier(.22, .9, .26, 1) both;
}

.signUp:hover{
    background:rgba(2, 3, 21, .6);
}

.error_message{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#saveProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    animation: drop .6s cubic-bezier(.22, .9, .26, 1) both;
}

#fruitRemember{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.goLoginButton{
    background: none;
    outline: none;
    border: none;
    width: 90px;
    height: 90px; 
    animation: drop .6s cubic-bezier(.22, .9, .26, 1) both;
}

.goLoginButton:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #02182B50;
}

#forgottenProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    animation: drop .6s cubic-bezier(.22, .9, .26, 1) both;
}

.recoverPassword{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background: #020315;
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    animation: drop 1s cubic-bezier(.22, .9, .26, 1) both;
}

.recoverPassword:hover{
    background:rgba(2, 3, 21, .6);
}

.homeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.homeBorder{
    width: 100%;
    height: 180px;
    background: #D7263D;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.20) inset;
}

#upperHomeBorder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accountButton{
    background: none;
    outline: none;
    border: none;
    padding-left: 15px;
}

#accountIcon:hover{
    background-color: #02182B50;
    cursor: pointer;
    border-radius: 50%;
}

.homeTitle{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    backdrop-filter: blur(5px);
    padding-left: 200px;
    text-align: center;
}

#searchMedia{
    padding-right: 50px;
}

#searchInput{
    width: 300px;
    height: 80px;
    border-radius: 30px;
    background: rgba(195, 197, 215, 0.80);
    color: rgba(0, 0, 0, 0.50);
    font-family: Alkatra;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    padding-left: 15px;
}

.homeText{
    width: 1200px;
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.movieBox{
    width: 1300px;
    height: 400px;
    background: rgba(195, 197, 215, 0.05);
    margin-bottom: 50px;
}

#accountPanel{
    width: 300px;
    height: 100vh;
    left:0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #000;
    background: #020315;
    box-shadow: 2px 4px 6px 3px rgba(195, 197, 215, 0.20);
    animation: drop-left 0.5s cubic-bezier(.22, .9, .26, 1) both;
}

.hidden{
    display: none !important;
}

#closePanel{
    background: none;
    outline: none;
    border: none;
}

#backArrow:hover{
    background-color: #02182B50;
    cursor: pointer;
    border-radius: 50%;
}

.accountSubmit{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    outline: none;
}

.accountSubmit:hover{
    cursor: pointer;
    background-color: #02182B50;
    text-decoration: underline;
    border-radius: 30%;
}

#logoutPopUp{
    position: fixed;
    top: 30%;
    width: 600px;
    height: 300px;
    border-radius: 30px;
    background: #D7263D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: drop 0.5s cubic-bezier(.22, .9, .26, 1) both;
}

.exitText{
    color: #C3C5D7;
    font-family: Alkatra;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    backdrop-filter: blur(5px);
}

#logoutPopUpIcons{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logoutButton{
    width: 150px;
    height: 80px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.60);
    border: none;
    outline: none;
}

#exitButton{
    width: 150px;
    height: 80px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.60);
    border: none;
    outline: none;
}

#logoutButton:hover{
    cursor: pointer;
    background-color: #02182B50;
}

#exitButton:hover{
    cursor: pointer;
    background-color: #02182B50;
}

@keyframes drop-left{
    0% {
        opacity: 0;
        transform: translateY(-60px, -40px, 0);
    }
    100% {
        opacity: 1;
        transform: translateY(0, 0, 0);
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}