<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapi s.com/css2?family=Alkatra:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <div class="border" id="aboutBorderLeft">
        <form id="goBackFromAccountForm" method="post" action="/goBackFromAbout">
                <button type="submit" id="goBackFromAccountButton">
                    <img src="../misc/Icon (2).svg" alt="home" id="homeIcon">
                </button>
        </form>
    </div>
    <div class="center">
        <div class="mainSectionAbout">
            <h2 class="aboutTitle">About MyMovieTracker</h2>
            <div class="aboutDetails">
                <h3 class="aboutH3">What does the app do?</h3>
                <p class="aboutP">
                    - Tracks movies you want to watch
                </p>
                <p class="aboutP">
                    - Lets you build a personal watchlist
                </p>
                <p class="aboutP">    
                    - Shows details about movies/shows
                </p>
                <h3 class="aboutH3">Why it exists?</h3>
                <p class="aboutP">
                    - Too many streaming platforms
                </p>
                <p class="aboutP">
                    - A simple, universal watchlist
                </p>
                <h3 class="aboutH3">Key features?</h3>
                <p class="aboutP">
                    - Search movies and shows
                </p>
                <p class="aboutP">
                    - Add them to your watchlist
                </p>
                <p class="aboutP">
                    - View details about them
                </p>
                <h3 class="aboutH3">How it works?</h3>
                <p class="aboutP">
                    - Powered by Node.js, Express.js, PostrgeSQL .
                </p>
                <p class="aboutP">  
                    - This product uses the TMDB API but is not endorsed or certified by TMDB.
                </p>
                <h3 class="aboutH3">Who made it?</h3>
                <p class="aboutP">
                    - This project was made by Cosmin V.
                </p>
            </div>
            </div>
        </div>
    </div>
    <div class="border" id="aboutBorderRight">
        <img src="../misc/logo 1.svg" alt="logo" id="apiLogo">
    </div>

</body>
<script src="/script.js"></script>
</html>