<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="homeBody" id="searchBody">
    <div id="logoutPopUp" class="hidden">
        <h3 class="exitText">Are you sure you want to log out?</h3>
        <div id="logoutPopUpIcons">
            <form id="logout" method="post" action="/logout">
                <button type="submit" id="logoutButton">
                    <img src="../misc/Check (1).svg" alt="logOut" id="yButton">
                </button>
            </form>
            <button type="button" id="exitButton">
                <img src="../misc/X.svg" alt="x" id="xButton">
            </button>
        </div>
    </div>
    <div id="accountPanel" class="hidden">
        <button type="button" id="closePanel">
            <img src="../misc/arrow_back.svg" alt="arrow_back" id="backArrow">
        </button>
        <form id="accountForm" method="post" action="/account">
            <input type="submit" value="Account" class="accountSubmit">
        </form>
        <form id="aboutForm" method="post" action="/about">
            <input type="submit" value="About" class="accountSubmit">
        </form>
        <button type="button" id="logoutPopUpButton" class="accountSubmit">Log Out</button>
    </div>
    <div class="homeBorder" id="upperHomeBorder">
        <button type="button" class="accountButton" id="accountButtonID">
            <img src="../misc/account_circle.svg" alt="account_button" id="accountIcon">
        </button>
        <h1 class="homeTitle" id="searchTitle">MyMovieTracker</h1>
        <form id="goBackFromSearchForm" method="post" action="/goBackFromSearch">
            <button type="submit" id="goBackFromSearchButton">
                <img src="../misc/Icon (2).svg" alt="home" id="homeIcon">
            </button>
        </form>
        <form id="searchMedia" method="post" action="/searchMedia">
            <input type="search" id="searchInput" name="search" placeholder="Search">
        </form>
    </div>
    <div class="movieBoxSearch">
        <h2 class="searchTitle">Is this what you are looking for?</h2>
        <% if(media.length > 0) {%>
            <% media.forEach(function(movies){ %>
                <% const mediaImage = movies.image  || '../misc/Film.svg'; %>
                <div class="mediaContainer">
                    <img src="<%= mediaImage %>" id="shownMediaPhoto">
                    <form id="mediaTitleForm" method="post" action="/mediaDetails">
                        <input type="submit" name="mediaTitle" id="shownMediaTitle" value="<%= movies.title %>">
                    </form>
                </div>
            <% }); %>
        <% } %>
    </div>
    <div class="homeBorder"></div>
</body>
<script src="/script.js"></script>
</html>