<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Weather</title>
</head>
<body class="body2">
    <div class="borderContainer" id="leftBorder"></div>
    <div class="centeredContainer">
        <div class="weatherContainer">
            <div class="cityName">
                <p id="cityText"><%= city %></p>
            </div>
            <div class="weatherInfo">
                <p id="weatherText"><%= weather %></p>
            </div>
            <form id="backForm" action="/" method="GET" >
                <button id="backBtn"><img src="../misc/backIcon.svg" alt="home" id="backHomeBtn">Home</button>
            </form> 
        </div>
    </div>
    <div class="borderContainer" id="rightBorder"></div>
</body>
<script src="../index.js"></script>
</html>